<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body><div th:switch="${totalTime}">
    <h2 th:case="null">Statistics!</h2>
    <div th:case="*">
        <h2>Exercises</h2>
        <table>
            <thead>
            <tr>
                <th>Totaltime spent exercising</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="setTime : ${totalTime}">
                <td th:text="${setTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p><a href="userprofile">Back to profile</a></p>

</body>
</html>