<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <!--FONT-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <!--STLES-->
    <meta charset="UTF-8">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="home-screen">
    <ul class="navbar">
        <li class="nav-item"><a href="login">Log in</a></li>
    </ul>

    <div class="hero">
        <h1 class="hero-title">Fitness Tracker</h1>
        <p class="hero-subtitle">If you don't track your workout and post it online, did you really even exercise, my dude?</p>
        <a class="signup btn" href="signup">Sign up</a>
    </div>
</div>

</body>
</html>